<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a href="../../index.html" class="navbar-brand">
        <img src="https://scontent.frgn7-2.fna.fbcdn.net/v/t1.15752-9/116151480_726936781424340_9103485516870203073_n.png?_nc_cat=106&_nc_sid=b96e70&_nc_eui2=AeElfk9BWENfU-ApT08YZNDCBTJ9nU3O9iQFMn2dTc72JLkeH0zx5xdOLBe2JLiKZq3JQCoN-hpa3yyQa9NbFc7a&_nc_ohc=-KbC9Z-EYL4AX9Eriez&_nc_ht=scontent.frgn7-2.fna&oh=1e8c7970421151d8e8558fa24f2d15fd&oe=5F7745CB" 
        alt="lotto logo" class="img-fluid img-logo-size align-self-center"> Linn
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item p-2 " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a href="../../index.html" class="nav-link" routerLink="" >Home</a>
          </li>
          <li class="nav-item p-2" [routerLinkActive]="['active']">
            <a [routerLink]="['/services']" class="nav-link" >Shop</a>
          </li>
          <li class="nav-item p-2" [routerLinkActive]="['active']">
            <a [routerLink]="['/contact']" class="nav-link">Contact Us</a>
          </li>
          <li class="nav-item p-2" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a  class="nav-link" role="button" data-toggle="modal" data-target="#exampleModal" routerLink="">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Switch to Admin mode?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="adminForm" autocomplete="off" novalidate>
            <div class="form-group">
              <label class="col-form-label">Password</label>
              <input type="password" class="form-control" formControlName="password" #password>
             
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary" *ngIf="password.value==='admin'" [routerLink]="['/admin']" data-dismiss="modal">Done</button>
  
        </div>
      </div>
  
  
    </div>
  </div>
  
    


<router-outlet></router-outlet> 