


<!-- JUMBOTRON SHOWCASE -->
<section id="banner-main">
  <div class="jumbotron jumbotron-fluid text-white bg-lottery-img">
    <div class="bg-overlay">
      <div class="container pt-4">
        <div class="m-auto">
          <h3 class="display-3">Online Lottery Vendor</h3>
          <p class="lead">1st Lottery Service In Myanmar</p>
          <a [routerLink]="['/shop']" class="btn btn-outline-secondary text-white btn-lg"><i class="fas fa-arrow-right"></i> Our Services</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="boxes" class="bg-light my-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h3 class="info-header pb-3 mb-4">Why should you choose Linn?</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3 text-center">
        <div class="card main-card">
          <div class="card-body">
            <h3><i class="fa fa-money"></i> Free Delivery</h3>
            <p>By purchasing 1300Ks for a ticket, you don't have to worry about additional delivery expenses.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 text-center">
        <div class="card main-card">
          <div class="card-body">
            <h3><i class="fa fa-calendar-check-o"></i> In Time</h3>
            <p class="mb-2">We guarantee that your tickets will be delivered within 2 weeks after purchasing.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 text-center">
        <div class="card main-card">
          <div class="card-body">
            <h3><i class="fa fa-shield"></i> Trustworthy</h3>
            <p>Our business adheres cash on delivery system which means you don't have to pay in advance.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="inspire-head-section" class="bg-light">
  <div class="container">
      <div class="row">
          <div class="col text-center py-5">
              <h1 class="display-4">What inspired us to do this?</h1>
              <p class="lead">
                  Because of the outbreak of the covid-19, the majority of city population have to stay home and follow the healthcare rules imposed by WHO. Our mission is to help people all over the Yangon to be able to purchase lottery tickets without having to leave their homes.
              </p>
              <div class="">
                Support our mission by using <a [routerLink]="['/shop']" class="text-primary">our services</a>.
              </div>
          </div>
      </div>
  </div>
</div>






